<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {% assign cacheBust = '20241231' | date:'?v=%s' %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url | append: cacheBust }}">
  <link rel="stylesheet" href="{{ "/assets/css/lightbox.min.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="apple-touch-icon-precomposed" href="{{ "/assets/touchicon.png" | relative_url }}">
  {% include og.html %}
  <script defer src="https://beans.alexonsager.com/script.js" data-website-id="87c0fa84-8d62-461c-a663-29faa9b2d902"></script>
</head>
