<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title -%}{{ page.title | escape }}{% else -%}{{ site.title | escape }}{% endif -%}</title>
  <meta name="description" content="{{ page.blurb | page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 200 | escape }}">
  {% assign cacheBust = '20250408' | date:'?v=%s' -%}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url | append: cacheBust }}">
  <link rel="stylesheet" href="{{ "/assets/css/lightbox.min.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Invisible Parade" />
  <link rel="manifest" href="/site.webmanifest" />
  {% include og.html -%}
  <script defer src="https://beans.alexonsager.com/script.js" data-website-id="5b90f085-e9ee-40a7-9b51-2fc1fa9ae0d4"></script>
</head>
