<nav>
  <p>Hello, and welcome to my website. Web development is one of my favorite hobbies, and becoming a proficient writer is one of my greatest ambitions. This is a space for me to practice the two.</p>
  <hr />
  <ul>
    <li><a href="/about/">/about</a></li>
    <li><a href="/now/">/now</a></li>
    <li><a href="/projects/">/projects</a></li>
    <li><a href="/archive/">/archive</a></li>
    <li><a href="/colophon/">/colophon</a></li>
    <li><a href="/ai/">/ai</a></li>
    <li><a href="/contact/">/contact</a></li>
  </ul>
</nav>