<nav class="mono">
  <ul id="nav-links">
    <li class="red"><a href="/">/index</a></li>
    <li class="blue"><a href="/about">/about</a></li>
      <li class="indent blue-light"><a href="/about/now">/now</a></li>
      <li class="indent blue-light"><a href="/about/ai">/ai</a></li>
      <li class="indent blue-light"><a href="/about/colophon">/colophon</a></li>
    <li class="green"><a href="/posts/">/posts</a></li>
      <li class="indent green-light"><a href="/posts/archive/">/archive</a></li>
        <li class="double-indent green-light selected"><a href="/posts/archive/me/">/me</a></li>
        <li class="double-indent green-light"><a href="/posts/archive/games/">/games</a></li>
        <li class="double-indent green-light"><a href="/posts/archive/coding/">/coding</a></li>
        <li class="double-indent green-light"><a href="/posts/archive/mumbles/">/mumbles</a></li>
    <li class="purple"><a href="/projects/">/projects</a></li>
    <li class="orange"><a href="/contact/">/contact</a></li>
    <li class="pink"><a href="/feed.xml">/feed</a></li>
  </ul>
</nav>