{% if post.colors %}
<div class="post-banner" style="background-image:linear-gradient(-45deg, {{ post.colors[0] }} 20%, transparent 20%),linear-gradient(-45deg, {{ post.colors[1] }} 40%, transparent 40%),linear-gradient(-45deg, {{ post.colors[2] }} 60%, transparent 60%),linear-gradient(-45deg, {{ post.colors[3] }} 80%, transparent 80%),linear-gradient(-45deg, {{ post.colors[4] }} 100%, transparent 100%)"></div>
{% endif %}

{% if page.colors %}
<div class="post-banner" style="background-image:linear-gradient(-45deg, {{ page.colors[0] }} 20%, transparent 20%),linear-gradient(-45deg, {{ page.colors[1] }} 40%, transparent 40%),linear-gradient(-45deg, {{ page.colors[2] }} 60%, transparent 60%),linear-gradient(-45deg, {{ page.colors[3] }} 80%, transparent 80%),linear-gradient(-45deg, {{ page.colors[4] }} 100%, transparent 100%)"></div>
{% endif %}
