{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{% assign slash_posts = site.posts | where: "slash", "now" -%}
{% assign latest_post = include.slash_posts | first -%}

{% include flair_default.html %}

{% if latest_post -%}
<div class="post-content single" itemprop="articleBody">
    {{ latest_post.content }}
</div>
<div class="post-meta">Updated {{ latest_post.date | date: date_format }}</div>
{% endif -%}
{% if slash_posts.size > 1 -%}
<h3>Previous /{{ include.name }} entries</h3>
  <ul>
  {% for post in slash_posts offset:1 -%}
    <li><a href="{{ post.url }}">{{ post.date | date: date_format }}</a></li>
  {% endfor -%}
  </ul>
{% endif -%}