@charset "utf-8";

@font-face {
  font-family: 'Ostrich Sans Rounded';
  font-style: normal;
  font-weight: 500;
  src: local('Ostrich Sans Rounded'), url('https://invisibleparade.com/assets/fonts/OstrichSansRoundedMedium.woff') format('woff');
}

// Define defaults for each variable.

$base-font-family: -apple-system,"Helvetica Neue",sans-serif;
$base-font-size:   17px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 900 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       #333 !default;
$text-color-light: lighten($text-color, 25%) !default;
$text-color-dark:  #c8c4bc !default;
$background-color: #fdfdfd !default;
$background-color-dark: #2d2d2d !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #A9A9A9 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

