
/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Ostrich Sans Rounded';
  font-style: normal;
  font-weight: 400;
  src: local('Ostrich Sans Rounded'), url('https://invisibleparade.com/assets/images/OstrichSansRoundedMedium.woff') format('woff');
}

:root {
    /* Typography */
    --base-font-size: 16px;
    --base-line-height: 1.6;
    --base-font-family: 'Lato', sans-serif;
    --base-font-weight: 400;

    /* Layout */
    --spacing-unit: 20px;
    --sidebar-width: 280px;
    --content-width: 800px;
    --max-width: 1080px;
    --screen-md: 720px;

    /* Colors */
    --background-color-dark: oklch(0.3 0 0);
    --accent-color: oklch(54.87% 0.222 260.33);
    --accent-color-light: oklch(70.94% 0.136 258.06);
    --accent-color-dark: oklch(43.48% 0.17 260.2);
    --color-white: oklch(0.99 0 0);
    --color-black: oklch(25.11% 0.006 258.36);
    --color-grey: oklch(84.68% 0.002 197.12);
    --color-grey-light: oklch(95.57% 0.003 286.35);
    --color-grey-dark: oklch(63.12% 0.004 219.55);
    --color-grey-6: oklch(75.03% 0.002 247.85);
    --color-red: oklch(45.8% 0.177 17.7);
    --color-red-light: oklch(62.73% 0.209 12.37);
    --color-red-dark: oklch(41.17% 0.157 16.58);
    --color-blue: oklch(54.87% 0.222 260.33);
    --color-blue-light: oklch(70.94% 0.136 258.06);
    --color-blue-dark: oklch(43.48% 0.17 260.2);
    --color-green: oklch(64.24% 0.175 144.92);
    --color-green-light: oklch(79.33% 0.179 145.62);
    --color-purple: oklch(49.39% 0.215 298.31);
    --color-orange: oklch(69.33% 0.157 52.18);
    --color-pink: oklch(70.23% 0.092 354.96);
}


/* Boilerplate */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  letter-spacing: -1px;
}

p {
  margin: 0 0 var(--spacing-unit);
}

h1 {
    margin: 0 0 var(--spacing-unit);
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-weight: var(--base-font-weight);

    color: var(--color-black);
    background-color: var(--color-white);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a,
a:visited,
a:hover {
    color: var(--accent-color);
    /* text-underline-offset: 2px; */
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

a:hover {
    color: var(--accent-color-light);
}

/* Utility */
.flex {
    display: flex;
}

.mono {
    font-family: 'Source Code Pro', monospace;
}

.red {
    color: var(--color-red);

    a:hover {
        color: var(--color-red);
    }

    &.selected {
        color: var(--color-white);
        background-color: var(--color-red);
    }
}

.blue {
    color: var(--color-blue);

    a:hover {
        color: var(--color-blue);
    }

    &.selected {
        color: var(--color-white);
        background-color: var(--color-blue);
    }
}

.blue-light {
    color: var(--color-blue-light);

    a:hover {
        color: var(--color-blue-light);
    }

    &.selected {
        color: var(--color-black);
        background-color: var(--color-blue-light);

        a,
        a:visited,
        a:hover {
            color: var(--color-black) !important;
        }
    }
}

.green {
    color: var(--color-green);

    a:hover {
        color: var(--color-green);
    }

    &.selected {
        color: var(--color-white);
        background-color: var(--color-green);
    }
}

.green-light {
    color: var(--color-green-light);

    a:hover {
        color: var(--color-green-light);
    }

    &.selected {
        color: var(--color-black);
        background-color: var(--color-green-light);

        a,
        a:visited,
        a:hover {
            color: var(--color-black) !important;
        }
    }
}

.purple {
    color: var(--color-purple);

    a:hover {
        color: var(--color-purple);
    }

    &.selected {
        color: var(--color-white);
        background-color: var(--color-purple);
    }
}

.orange {
    color: var(--color-orange);

    a:hover {
        color: var(--color-orange);
    }

    &.selected {
        color: var(--color-white);
        background-color: var(--color-orange);
    }
}

.pink {
    color: var(--color-pink);

    a:hover {
        color: var(--color-pink);
    }

    &.selected {
        color: var(--color-white);
        background-color: var(--color-pink);
    }
}

/* Layout */

body {
    background-color: var(--color-grey-light);
}

header {
    float: left;
    width: 100%;

    &.site-header {
        background-color: var(--color-white);
        border-bottom: 1px solid var(--color-grey);
        padding: calc(var(--spacing-unit) * 0.5) 0;

        .site-title {
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            margin: 0 calc(var(--spacing-unit) * 0.5);
        }
    }

    h1 {
        margin: 0;
    }

    a,
    a:visited,
    a:hover {
        color: var(--color-black);
        text-decoration: none;
    }
}

/* a.site-title {
    font-family: 'Ostrich Sans Rounded', -apple-system,"Helvetica Neue",sans-serif;
    font-size: 70px;
    font-variant: small-caps;

    &,
    &:visited,
    &:hover {
        color: var(--text-color);
        text-decoration: none;
    }
} */

.container {
    clear: both;
    margin: 0 auto;
    max-width: var(--max-width);
}

nav {
    flex: 0 0;
    /* padding: var(--spacing-unit); */
    border-left: 1px solid var(--color-grey);
    background-color: var(--color-white);

    a,
    a:visited,
    a:hover {
        color: var(--color-black);
        text-decoration: none;
    }

    ul {
        
        li {
            padding: 5px calc(var(--spacing-unit) * 1.5) 5px calc(var(--spacing-unit) * 1.5);
            border-bottom: 1px solid var(--color-grey);
            margin-top: -1px;

            &::before {
                content: "â¯";
                font-weight: bold;
                margin-left: calc(var(--spacing-unit) * -0.75);
                margin-right: 5px;
            }

            &.selected {
                font-weight: bold;

                a,
                a:visited,
                a:hover {
                    color: var(--color-white);
                }
            }

            &.indent {
                padding-left: calc(var(--spacing-unit) * 3);
            }

            &.double-indent {
                padding-left: calc(var(--spacing-unit) * 4.5);
            }
        }
    }

    /* #nav-toggle {
        display: none;
    } */
    
    /* #nav-links {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;

        .link {
            font-size: 1.2rem;
            text-align: left;
            padding: 0 calc(var(--spacing-unit) * 0.5) var(--spacing-unit);
            width: 100%;

            p {
                margin: 0;
                font-size: 0.9rem;
            }
        }
    } */
}

main {
    max-width: var(--content-width);
    border-right: 1px solid var(--color-grey);
    background-color: var(--color-white);
    /* padding: 0 var(--spacing-unit); */
}

article {
    position: relative;
    padding: calc(var(--spacing-unit) * 2);
    border-left: 1px solid var(--color-grey);

    &.list-item {
        border-top: 1px solid var(--color-grey);
    }

    .post-flair {
        position: absolute;
        top: 0px;
        left: -1px;
        width: 100%;
        height: 8px;
    }
}

ul.post-list li:first-of-type {
    article {
        border-top: none;
    }
}

.post-header {
    /* margin-bottom: var(--spacing-unit); */
}

.post-content {
    float: left;
    width: 100%;
    padding-bottom: var(--spacing-unit);
}

.post-meta {
    text-align: right;
    color: var(--color-grey-dark);
    font-size: 0.9rem;

    &.link {
        text-align: left;
        margin-top: calc(var(--spacing-unit) * -0.5);
        margin-bottom: var(--spacing-unit);
        line-height: 1.2rem;
        
        a {
            color: var(--color-grey-dark);
            text-decoration: underline;
            
            &:hover {
                color: var(--color-grey-6);
            }
        }
    }
}

.post-related, .post-comments {
    padding: var(--spacing-unit) 0;
}

hr {
    margin: var(--spacing-unit) 0;
    background-color: var(--color-grey-light);
    border: none;
    height: 1px;
}

blockquote {
    background-color: var(--color-grey-light);
    border: 1px solid var(--color-grey);
    border-left: 5px solid var(--color-grey-dark);
    padding: calc(var(--spacing-unit) / 2) var(--spacing-unit);

    > :last-child {
        margin-bottom: 0;
    }
}

footer {
    font-size: 0.9rem;
    border-top: 1px solid var(--color-grey);
    padding: var(--spacing-unit);
    float: left;
    width: 100%;
    text-align: center;

    p {
        margin: 0;
    }
}

/* Mobile */
/* @media (max-width: 800px) {
    .flex {
        flex-wrap: wrap;
    }

    nav {
        flex-basis: 100%;
        margin: 0 auto;
        padding: 0px;

        #nav-links {
            text-align: center;
            display: block;
        
            .link {
                display: inline-block;
                width: auto;
                padding: 0 calc(var(--spacing-unit) * 0.5) calc(var(--spacing-unit) * 0.5);
                margin: 0;

                p {
                    display: none;
                }
            }
        }
    }

    main {
        flex: 0 0 100%;
        margin-top: var(--spacing-unit);
    }
} */