
/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Ostrich Sans Rounded';
  font-style: normal;
  font-weight: 400;
  src: local('Ostrich Sans Rounded'), url('https://invisibleparade.com/assets/images/OstrichSansRoundedMedium.woff') format('woff');
}

:root {
    /* Typography */
    --base-font-size: 16px;
    --base-line-height: 1.6;
    --base-font-family: 'Lato', sans-serif;
    --base-font-weight: 400;

    /* Layout */
    --spacing-unit: 20px;
    --sidebar-width: 280px;
    --content-width: 800px;
    --max-width: 1080px;
    --screen-md: 720px;

    /* Colors */
    --background-color: oklch(0.99 0 0);
    --background-color-dark: oklch(0.3 0 0);
    --accent-color: oklch(45.8% 0.177 17.7);
    --accent-color-light: oklch(69.86% 0.162 7.82);
    --accent-color-dark: oklch(41.17% 0.157 16.58);
    --text-color: oklch(25.11% 0.006 258.36);
    --color-grey: oklch(84.68% 0.002 197.12);
    --color-grey-light: oklch(91.87% 0.003 264.54);
    --color-grey-dark: oklch(63.12% 0.004 219.55);
  }


/* Boilerplate */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  letter-spacing: -1px;
}

p {
  margin: 0 0 var(--spacing-unit);
}

h1 {
    margin: 0 0 var(--spacing-unit);
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-weight: var(--base-font-weight);

    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a,
a:visited,
a:hover {
    color: var(--accent-color);
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

a:hover {
    color: var(--accent-color-light);
}

/* Utility */
.flex {
    display: flex;
}

/* Layout */

header {
    float: left;
    width: 100%;

    h1 {
        margin: 0;
    }

    a,
    a:visited,
    a:hover {
        color: var(--text-color);
        text-decoration: none;
    }
}

a.site-title {
    font-family: 'Ostrich Sans Rounded', -apple-system,"Helvetica Neue",sans-serif;
    font-size: 70px;
    font-variant: small-caps;

    &,
    &:visited,
    &:hover {
        color: var(--text-color);
        text-decoration: none;
    }
}

.container {
    clear: both;
    margin: 0 auto;
    max-width: var(--max-width);
}

nav {
    float: left;
    flex: 0 0 240px;
    padding: var(--spacing-unit);

    #nav-toggle {
        display: none;
    }
    
    #nav-links {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;

        .link {
            font-size: 1.2rem;
            text-align: left;
            padding: 0 calc(var(--spacing-unit) * 0.5) var(--spacing-unit);
            width: 100%;

            p {
                margin: 0;
                font-size: 0.9rem;
            }
        }
    }
}

main {
    float: left;
    max-width: var(--content-width);
    padding: 0;
}

article {
    position: relative;
    padding: 0 var(--spacing-unit) 0 calc(var(--spacing-unit) + 5px);

    .side-flair {
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
    }
}

.post-content {
    padding-bottom: var(--spacing-unit);
}

.post-meta {
    text-align: right;
    color: var(--color-grey-dark);
}

.post-related, .post-comments {
    padding: var(--spacing-unit) 0;
}

hr {
    margin: var(--spacing-unit) 0;
    background-color: var(--color-grey-light);
    border: none;
    height: 1px;
}

footer {
    padding: calc(var(--spacing-unit) * 2);
    float: left;
    width: 100%;
    text-align: center;
}

/* Mobile */
@media (max-width: 800px) {
    .flex {
        flex-wrap: wrap;
    }

    nav {
        flex-basis: 100%;
        margin: 0 auto;
        padding: 0px;

        #nav-links {
            text-align: center;
            display: block;
        
            .link {
                display: inline-block;
                width: auto;
                padding: 0 calc(var(--spacing-unit) * 0.5) calc(var(--spacing-unit) * 0.5);
                margin: 0;

                p {
                    display: none;
                }
            }
        }
    }

    main {
        flex: 0 0 100%;
        margin-top: var(--spacing-unit);
    }
}