
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* body */
.body-bg{
    background: url('images/bedroom.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.body-f-family{
    font-family:'Roboto', Helvetica, sans-serif;
}
/* h1 */
.fs-80{
    font-size: 80px;
}

.lh-07{
    line-height: 0.7;   
}
.h1-text-custom{
    color: #776E65;
    margin-bottom: 0;
}
/*  */

.container-custom-width{
    width: 478px;
}
/* game-container-grid */
.g-w{
    width: 470px;
}
.g-h{
    height: 470px;
}
.g-bg-color{
    background-color: #000000aa;
}
.c-border{
    /* border: 7px solid #00000090; */
    padding: 7px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.info-container {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
    color: #FFF;
}

#audio-info {
    margin-left: 10px;
}

#song-title {
    display: inline-block;
    padding-top: 2px;
    color: grey;
}

#volume-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#app-info {
    margin-left: 10px;
    margin-top: 20px;
}

#app-info-toggle {
    font-size: 1.2em;
}

#app-info-window {
    display: block;
    background: #000000a0;
    padding: 20px;
    display: none;
}

.score-title{
    text-align: right;
    background-color: #000000a0;
    padding: 5px 15px;
    font-size: 1.2em;
}

.new-game{
    text-align: left;
}
/* grid */
.grid div{
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #674ab3;
    color: #AFA192;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    line-height: 1.6;
    padding-top: 10px;
    transition: transform 0.3s, background-color 0.3s;
    animation: appear 0.3s;


}

.merging{
    transform: scale(1.1);
}


@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0);
        

    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}