@use 'minima/variables' as *;
// Default to small display

.full {
  display: none;
}

.mobile {
  display: block;
}

/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
}

.site-title {
  font-family: 'Ostrich Sans Rounded', -apple-system,"Helvetica Neue",sans-serif;
  font-size: 50px;
  font-variant: small-caps;
  margin-bottom: 0;
  margin: 0px;
  float: left;

  &,
  &:visited,
  &:hover {
    color: $text-color;
  }

  @include media-query($on-palm) {
    float: none;
  }
}

.site-nav {
  float: left;
  width: 100%;
  text-align: left;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    padding: 10px;

    &:first-child {
      padding-left: 0px;
    }
  }
  
}

.header-banner {
  margin-top: -30px;
  margin-bottom: $spacing-unit;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(45deg, $background-color, $background-color, $text-color, $text-color, $text-color, $text-color, $background-color, $background-color);
}

.logo-container {
  float:left;
  background-color: $background-color;
  padding: 0px 10px 0px 0px;
}

#header-logo-white {
  display: none;
  margin-top: 20px;
}

#header-logo-black {
  display: block;
  margin-top: 20px;
}

/**
 * Site footer
 */
.site-footer {
  margin-top: $spacing-unit;
  font-size: 0.9em;
  text-align: center;

}

/**
 * Page content
 */
.page-content {
  padding: calc($spacing-unit * 2) 0;
}

.page-heading {
  @include relative-font-size(1.5);
}

.wrapper.toot .post-meta {
  margin-top: 0px;
}

.toot .post-content {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

hr {
  border: none;
  background-color: $grey-color-light;
  height: 1px;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  clear: both;
}

.post-list {
  margin-left: 0;
  list-style: none;

  li {
    .post {
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
    }

    

    &:first-of-type {
      padding-top: 0px;
    }
  }
}

.post-header {
  h1 { margin-bottom: 0px;}
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-align: right;

  a {
    color: $grey-color;
    text-decoration: underline;
    &:hover {
      color: $grey-color-dark;
    }
  }

  &.link {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
}

.paginator {
  float: left;
  width: 100%;
  .next-link {
    float: right;
    margin-right: $spacing-unit;
  }
  .prev-link {
    float: left;
    margin-left: $spacing-unit;
  }
}

.comment-link {
  float: right;
}


/**
 * Posts
 */
.post-title, .post-link {
  @include relative-font-size(2);
  line-height: 1;
  letter-spacing: -1px;
  display: block;
}

.post-banner {
  
  margin-top: calc($spacing-unit / 2);
  margin-bottom: $spacing-unit;
  height: 3px;
  width: 100%;
  opacity: 0.8;
}

.post-content {

  a { word-wrap: break-word; }

  h2 {
    @include relative-font-size(1.5);
    letter-spacing: -1px;
  }

  h3 {
    @include relative-font-size(1.2);
    letter-spacing: -1px;
  }

  h4 {
    @include relative-font-size(1.1);
  }

  .center-image {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  figcaption {
    text-align: center;
    @include relative-font-size(0.8);
    font-style: italic;
  }
}

.post-tag {
  display: none;
  // display: inline-block;
  padding: 2px 5px;
  margin-left: 5px;
  background-color: $grey-color-light;
  border-radius: 5px;
  text-transform: uppercase;
  @include relative-font-size(0.7);

  &:first-of-type {
    margin-left: 10px;
  }
}

.post-related {
  margin-top: calc($spacing-unit * 2);
  margin-bottom: calc($spacing-unit * 2);
}

.post-comments {
  margin-top: calc($spacing-unit * 2);
  margin-bottom: calc($spacing-unit * 2);
}

p.archive-categories {
  // margin-top: $spacing-unit / -2;
  text-align: left;

  a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 2px 15px;
    margin: 0px 5px 10px 5px;
    border-bottom: 2px solid $grey-color-light;
  }

  a.selected {
    border-bottom: 3px solid $brand-color;
  }
}

table.archive-list {
  margin-bottom: $spacing-unit;

  td {
    padding: 0px;
  }
}

.date-text {
  display: inline-block;
  min-width: calc($spacing-unit * 2);
  text-align: right;
  margin-right: calc($spacing-unit / 2);
  color: $grey-color;
}

form {
  ::placeholder {
    color: #aaa;
  }

  input, textarea, button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 12px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-size: $base-font-size;
  }

  input {
    margin-right: 10px;
    width: 200px;
  }

  textarea {
    width: 414px;
    max-width: 100%;
    height: 150px;
  }

  button {
    width: 100px;
    background-color: $brand-color;
    color: white;
  }
}

.grid {
  margin: 0px auto;

  .grid-item {
    margin-bottom: 5px;
  }
}

@media (min-width:480px)  {
  .full {
    display: block;
  }

  .compact {
    display: none;
  }

  .site-title {
    font-size: 80px;
  }

  #header-logo-white {
    margin-top: 45px;
  }
  
  #header-logo-black {
    margin-top: 45px;
  }

  .logo-container {
    padding: 0px 10px;
  }

  .header-banner {
    margin-top: -45px;
  }
}

@media (prefers-color-scheme: dark) {
  .site-header {
    border-top: 5px solid $background-color-dark;
  }

  .site-title {
    &,
    &:visited { color: $text-color-dark }
  }

  .header-banner {
    background-image:linear-gradient(45deg, $background-color-dark, $background-color-dark, $text-color-dark,$text-color-dark, $text-color-dark, $text-color-dark, $background-color-dark, $background-color-dark);
  }
  
  .logo-container {
    background-color: $background-color-dark;
  }

  #header-logo-white {
    display: block;
  }

  #header-logo-black {
    display: none;
  }

  hr {
    background-color: $grey-color-dark
  }

  .site-nav .page-link { color: $text-color-dark }

  p.archive-categories {
    a { color: $text-color-dark }
  }

}

.callout {
  padding: calc($spacing-unit / 2);
  border: 2px dashed $grey-color;
  margin-bottom: $spacing-unit;

  .title {
    font-weight: bold;
    font-size: 0.9em;
  }
}
