/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.5);
  line-height: $base-line-height * $base-font-size * 2;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  /* border-top: 1px solid $grey-color-light; */
  padding-bottom: $spacing-unit;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  text-align: center;
  a {
    display: inline-block;
    margin: 0 $spacing-unit / 2;
  }
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.5);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    padding-bottom: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
    border-bottom: 1px solid $grey-color-light;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  a {
    color: $grey-color;
    &:hover {
      color: darken($grey-color, 25%);
    }
  }
  &.link {
    margin-top: $spacing-unit * -1;
  }
}

.paginator {
  float: left;
  width: 100%;
  .next-link {
    float: right;
    margin-right: $spacing-unit;
  }
  .prev-link {
    float: left;
    margin-left: $spacing-unit;
  }
}



/**
 * Posts
 */
.post-title, .post-link {
  @include relative-font-size(2);
  line-height: 1;
  letter-spacing: -1px;
  display: block;
}

.post-content {

  p {
    font-family: $body-font-family;
  }

  h2 {
    @include relative-font-size(1.5);
    letter-spacing: -1px;
  }

  h3 {
    @include relative-font-size(1.2);
    letter-spacing: -1px;
  }

  h4 {
    @include relative-font-size(1.1);
  }

  .center-image {
    margin: 0 auto;
    display: block;
    max-width: 600px;
  }

  .image-caption {
    margin-top: $spacing-unit / -2 + 2;
    text-align: center;
    @include relative-font-size(0.8);
    font-style: italic;
  }
}

.post-tag {
  display: none;
  /* display: inline-block; */
  padding: 2px 5px;
  margin-left: 5px;
  background-color: $grey-color-light;
  border-radius: 5px;
  text-transform: uppercase;
  @include relative-font-size(0.7);

  &:first-of-type {
    margin-left: 10px;
  }
}

.post-related {
  margin-top: $spacing-unit * 2;
  padding-top: $spacing-unit * 2;
  border-top: 1px solid $grey-color-light;
}

.archive-list {
  list-style: none;
  margin-left: 0px;
}

.date-text {
  display: inline-block;
  min-width: $spacing-unit * 2;
  text-align: right;
  margin-right: $spacing-unit / 2;
  color: $grey-color;
}

form {
  ::placeholder {
    color: #aaa;
  }

  input, textarea, button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 12px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-family: $body-font-family;
    font-size: $base-font-size;
  }

  input {
    margin-right: 10px;
    width: 200px;
  }

  textarea {
    width: 414px;
    max-width: 100%;
    height: 150px;
  }

  button {
    width: 100px;
    background-color: $brand-color;
    color: white;
  }
}
