/**
 * Colors
 */
$light-grey: #F2F2F2;
$grey: #B3B0A1;
$dark-grey: #909090;
$darker-grey: #747369;
$charcoal: #505050;
$black: #000000;
$red: #EA5F66;
$orange: #F99157;
$green: #74A774;
$yellow: #F2BA4F;
$blue: #5485C0;
$magenta: #BF83C0;
$cyan: #50B3B1;
$background-dark: #393939;

/**
 * Syntax highlighting styles
 */
pre,
code {
  border: 1px solid $light-grey;
  background-color: $light-grey;
}

.highlight {
  background: $light-grey;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $light-grey;
  }

  .c     { color: $grey; font-style: italic } // Comment
  .err   { color: $blue; background-color: $grey } // Error
  .k     { color: $magenta } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: $grey; font-style: italic } // Comment.Multiline
  .cp    { color: $dark-grey } // Comment.Preproc
  .c1    { color: $grey; font-style: italic } // Comment.Single
  .cs    { color: $dark-grey; font-style: italic } // Comment.Special
  .gd    { color: $black; background-color: #fdd } // Generic.Deleted
  .gd .x { color: $black; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: $blue } // Generic.Error
  .gh    { color: $dark-grey } // Generic.Heading
  .gi    { color: $black; background-color: #dfd } // Generic.Inserted
  .gi .x { color: $black; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: $dark-grey } // Generic.Output
  .gp    { color:  $charcoal } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: $dark-grey } // Generic.Subheading
  .gt    { color: $blue } // Generic.Traceback
  .kc    { color: $magenta } // Keyword.Constant
  .kd    { color: $magenta } // Keyword.Declaration
  .kp    { color: $magenta } // Keyword.Pseudo
  .kr    { color: $magenta } // Keyword.Reserved
  .kt    { color: $red } // Keyword.Type
  .m     { color: $orange } // Literal.Number
  .s     { color: $green } // Literal.String
  .na    { color: $red } // Name.Attribute
  .nb    { color: $red } // Name.Builtin
  .nc    { color: $red } // Name.Class
  .no    { color: $red } // Name.Constant
  .ni    { color: $magenta } // Name.Entity
  .ne    { color: $blue } // Name.Exception
  .nf    { color: $blue } // Name.Function
  .nn    { color:  $charcoal } // Name.Namespace
  .nt    { color: $black } // Name.Tag
  .nv    { color: $red } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: $grey } // Text.Whitespace
  .mf    { color: $orange } // Literal.Number.Float
  .mh    { color: $orange } // Literal.Number.Hex
  .mi    { color: $orange } // Literal.Number.Integer
  .mo    { color: $orange } // Literal.Number.Oct
  .sb    { color: $green } // Literal.String.Backtick
  .sc    { color: $green } // Literal.String.Char
  .sd    { color: $green } // Literal.String.Doc
  .s2    { color: $green } // Literal.String.Double
  .se    { color: $green } // Literal.String.Escape
  .sh    { color: $green } // Literal.String.Heredoc
  .si    { color: $green } // Literal.String.Interpol
  .sx    { color: $green } // Literal.String.Other
  .sr    { color: $green } // Literal.String.Regex
  .s1    { color: $green } // Literal.String.Single
  .ss    { color: $magenta } // Literal.String.Symbol
  .bp    { color: $dark-grey } // Name.Builtin.Pseudo
  .vc    { color: $red } // Name.Variable.Class
  .vg    { color: $red } // Name.Variable.Global
  .vi    { color: $red } // Name.Variable.Instance
  .il    { color: $red } // Literal.Number.Integer.Long
}

@media (prefers-color-scheme: dark) {
  pre,
  code {
    border: 1px solid $background-dark;
    background-color: $background-dark;
  }

  .highlight {
    background: $background-dark;

    .highlighter-rouge & { background: $background-dark }

    .c     { color: $darker-grey } // Comment
    .cm    { color: $darker-grey } // Comment.Multiline
    .cp    { color: $darker-grey } // Comment.Preproc
    .c1    { color: $darker-grey } // Comment.Single
    .cs    { color: $darker-grey } // Comment.Special
  }
}
