@use "sass:color";

// Define defaults for each variable.
$base-font-family: "Lato", "Helvetica", sans-serif;
$base-font-size:   17px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 900 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       #333 !default;
$text-color-light: color.adjust($text-color, $lightness: 25%) !default;
$text-color-dark:  #c8c4bc !default;
$background-color: #fdfdfd !default;
$background-color-dark: #2d2d2d !default;
$brand-color:      #2a7ae2 !default;
$brand-color-light: color.adjust($brand-color, $lightness: 15%) !default;

$grey-color:       #A9A9A9 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 25%) !default;
$grey-color-dark: color.adjust($grey-color, $lightness: -25%) !default;


// Width of the content area
$wide-content-width:  1200px !default;
$content-width:       800px !default;
$on-palm:             600px !default;
$on-laptop:           800px !default;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Ostrich Sans Rounded';
  font-style: normal;
  font-weight: 500;
  src: local('Ostrich Sans Rounded'), url('https://invisibleparade.com/assets/images/OstrichSansRoundedMedium.woff') format('woff');
}

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after { clear: both; }
}