<header class="site-header" role="banner">
  <div class="wrapper" style="position:relative;">
    {% assign default_paths = site.pages | map: "path" -%}
    {% assign page_paths = site.header_pages | default: default_paths -%}

  {% if page_paths -%}
  <div class="wrapper">
    <nav class="site-nav">
      <a class="page-link" href="{{ "/" | relative_url }}">Home</a>
      <a class="page-link" href="{{ "/about/" | relative_url }}">About</a>
      <a class="page-link" href="{{ "/posts/" | relative_url }}">Posts</a>
      <a class="page-link" href="{{ "/feed.xml" | relative_url }}">RSS</a>
    </nav>
  </div>
{% endif -%}
</header>
