---
layout: default
---

<div class="home">
  
  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h1>
        {% if post.link %}
          <p class="post-meta link">
            <span itemprop="link"><a href="{{ post.link }}">{{ post.link }}</a></span>
          </p>
        {% endif %}
        <div class="post-content" itemprop="articleBody">
          {{ post.excerpt }}
          {% if post.excerpt != post.content %}
            <p>
              <a href="{{ site.baseurl }}{{ post.url }}">Continue reading >></a>
            </p>
          {% endif %}
        </div>

        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="paginator">
    {% if paginator.previous_page %}
    <div class="next-link">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&lsaquo; Newer</a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="prev-link">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &rsaquo;</a>
    </div>
    {% endif %}
  </div>
  {% endif  %}

</div>
