---
layout: default
---
<div class="home wrapper">
  {{ content }}
  <ul class="post-list">
    {% for post in paginator.posts -%}
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% if post.layout == 'post' -%}
      <li class="post">
      {% elsif post.layout == 'toot' -%}
      <li class="toot">
      {% else -%}
      <li>
      {% endif -%}
          <header class="post-header">
          {% if post.layout == 'post' -%}
            <h1>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h1>
            {% endif -%}
            
            {% if post.link -%}
              <div class="post-meta link"> 
                <span itemprop="link"><a href="{{ post.link }}">{{ post.link }}</a></span>
              </div>
            {% endif -%}
            {% include post_banner.html -%}
          </header>
          <div class="post-content" itemprop="articleBody">
            {{ post.excerpt }}
            {% if post.excerpt != post.content -%}
              {% include continue_reading.html -%}
            {% endif -%}
          </div>
          <div class="post-meta">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: date_format }}</a>
            {% if post.layout == 'post' -%}
            <!-- <div class="comment-link"><a href="{{ site.baseurl }}{{ post.url }}#commento"></a></div> -->
            {% endif -%}
          </div>
      </li>
      <hr />
    {% endfor -%}
  </ul>
  {% if paginator.total_pages > 1 -%}
  <div class="paginator">
    <div class="wrapper">
      {% if paginator.next_page -%}
      <div class="next-link">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &rarr;</a>
      </div>
      {% endif -%}
      {% if paginator.previous_page -%}
      <div class="prev-link">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; Newer</a>
      </div>
      {% endif -%}
    </div>
  </div>
  {% endif  -%}
</div>
<script src="https://commento.invisibleparade.com/js/count.js"></script>
