---
layout: default
---
{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="wrapper">
    <header class="post-header">
      {% if page.layout == 'post' %}
      <h1>
        <a class="post-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
      </h1>
      {% endif %}
    
      {% if page.link %}
      <div class="post-meta link">
        <span itemprop="link"><a href="{{ page.link }}">{{ page.link }}</a></span>
      </div>
      {% endif %}
      <div class="post-meta">
        {{ page.date | date: date_format }}
      </div>
      {% include post_banner.html %}
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </div>

  {% for tag in page.tags %}
    <div class="post-tag">{{ tag }}</div>
  {% endfor %}

  <div class="post-related">
    <div class="wrapper">
      {% include related_posts.html %}
    </div>
  </div>

  <div class="post-comments">
    <div class="wrapper">
      {% include comments.html %}
    </div>
  </div>
</article>
