---
layout: default
title: Posts
---

{% for post in paginator.posts -%}
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {% if post.layout == 'toot' -%}
    {% assign wrapper_class = 'toot' %}
  {% else -%}
    {% assign wrapper_class = 'post' %}
  {% endif %}
  <article class="{{ wrapper_class }} list-item" itemscope itemtype="http://schema.org/BlogPosting">
    {% if post.layout == 'post' -%}
      <div class="post-flair" style="background-image: linear-gradient(90deg, {{ post.colors[0] }}, {{ post.colors[1] }}, {{ post.colors[2] }}, {{ post.colors[3] }}, {{ post.colors[4] }});"></div>
      <header class="post-header">
        <h1>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h1>
      {% endif -%}
      {% if post.link -%}
        <div class="post-meta link"> 
          <span itemprop="link"><a href="{{ post.link }}">{{ post.link }}</a></span>
        </div>
      {% endif -%}
    </header>
    <div class="post-content" itemprop="articleBody">
      {{ post.excerpt }}
      {% if post.excerpt != post.content -%}
        {% include continue_reading.html -%}
      {% endif -%}
    </div>
    <div class="post-meta">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: date_format }}</a>
    </div>
  </article>
{% endfor -%}

  {% if paginator.total_pages > 1 -%}
  <div class="paginator">
      <div class="prev-link">
        {% if paginator.previous_page -%}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; Newer</a>
        {% endif -%}
      </div>
      <div class="archive-link">
        <a href="/posts/archive">Archive</a>
      </div>
      <div class="next-link">
        {% if paginator.next_page -%}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &rarr;</a>
        {% endif -%}
      </div>
      
  </div>
  {% endif  -%}